@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global CSS file or in a <style> block */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar width */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* Match the background color */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent color matching the background */
  border-radius: 10px; /* Rounded corners */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); /* Slightly darker on hover */
}

/* Custom scrollbar for Firefox */
.scrollbar-thin {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Match thumb color and background color */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Square721 BT';
  src: url('../../assets/font/TT0246M_.TTF') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Square721 BT';
  src: url('../../assets/font/square721regular/sqaure721regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Azonix';
  src: url('../../assets/font/azonix/Azonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} 
.square721 {
  font-family: 'Square721 BT', sans-serif;
}
.azonix {
  font-family: 'Azonix', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-square721 {
    font-family: 'Square721 BT', sans-serif;
  }

  .font-square721-normal {
    @apply font-square721;
    font-weight: normal;
  }

  .font-square721-bold {
    @apply font-square721;
    font-weight: bold;
  }
  .font-azonix {
    @apply azonix;
    font-weight: normal;
  }
}
